.recipe {
    display: flex;
    flex-direction: column;
    gap: 14px;
    height: 272px;
    width: 184px;
}


.group {
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.image {
    display: flex;
    min-width: 192px;
    min-height: 192px;
    background: #23242a;
    border-radius: 12px;
    cursor: pointer;    
    object-fit: cover;
}



.button {
    min-width: 16px;
    min-height: 16px;
    width: 16px;
    height: 16px;
    background-color: red;
    cursor: pointer;
    background-color: #23242a;
    border-radius: 50%;
}

.button.active {
    background-color: #01b075;
    box-shadow: 0 0 10px #01b075;
}

.title {
    word-break: normal;
}

.text {
    font-size: 14px;
}