.profile {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: baseline;
}

.avatar {
    width: 48px;
    height: 48px;
    background-color: #23242a;
    border-radius: 50%;
}

.block {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.line {
    display: flex;
    gap: 8px;
}

.button {
    border: none;
    border-radius: 4px;
    padding: 4px 12px;
    color: white;
    background-color: rgb(250, 100, 50);
    box-shadow: 0 0 10px rgb(250, 100, 50);
    height: 32px;
    cursor: pointer;
}