.myLink {
  color: #5e5f62;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 16px;
  padding: 4px 12px;
  cursor: pointer;
  border-radius: 4px;
  transition: 200ms ease-in-out;
  text-decoration: none;
}

.myLink:hover {
  color: #fff;
  background-color: #01b075;
  box-shadow: 0 0 10px #01b075;
  transition: 200ms ease-in-out;
}
