* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  user-select: none;

}

.app {
  min-width: 100%;
  min-height: 100vh;
  width: 1px;
  height: 1px;
  background-color: #1b1c22;
  color: white;
  display: flex;

}

.main {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  padding: 48px;
}